<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <div class="center"><img class="logo" src="cobweblogin.png" alt=""></div>
        <div class="form">
            <div class="center welcome">Welcome , Philica</div>
            <div class="center enter">Enter your credentials to access your account</div>
            <form >
                <div class="email">
                    <div class="blabel"><label for="name">Gmail</label></div>
                    <div><input name="email" type="text"></div>
                </div>

                <div class="email">
                    <div class="blabel"><label for="name">Password</label></div>
                    <div><input name="Password" type="text"></div>
                    
                </div>
                <a href="/create"><div class="bbutton">Sign In</div></a>
            </form>

        </div>
        
    </div>
    
</body>
</html>