<nav>
    <div class="navFlex">
        <div class="navFlex-left">
            <a class="logoLink" href="/"><img class="logo" src="cobweb.png" alt=""></a>
        </div>
        <div class="navFlex-right">
            <a href="/"><p class="navTxt">HOME</p></a>
            <a href="/blogs"><p class="navTxt">BLOGS</p></a>
            <a href=""><p class="navTxt"> BOOKS</p></a>
            <a href="/login"><p class="navTxt">CREATE</p></a>
        </div>
    </div>
</nav>